<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/BoardWrite.css" >
</head>
<body>

	<input th:value="${test}" type="text"><br>
	
	<input class="title" type="text" id="title" value="제목"><br>
	<input class="writer" type="text" value="작성자"><br>
	<input class="content" type="text" value="내용"><br>
	<div>
  		<input type="file" class="imgInput" accept="image/*" >
  	</div>
  	<img class="preview" alt="마지막 올린 이미지" src="" onerror="this.style.display='none';" >
  	<ul class="imgList">
  		<!-- <li>
  			<span>제목</span><input type="button" value="X" onclick="removeImage('qwe')">
  			<button onclick="removeImage(this)">X</button>
		</li> -->
	</ul>
  	
	
	<button type="button" onclick="">버튼</button>
	
	<script type="text/javascript" src="/js/BoardWrite.js" ></script>
	
</body>
</html>