<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/MainPage.css" >
<title>Insert title here</title>
</head>
<body>

	<nav th:replace="~{navigation :: navbarFragment}"></nav>

	<h2>Main Page</h2>
	<h4>1. controller에서 html을 불러오지 못하는 경우</h4>
	<div>thymeleaf를 library에 적용하는것만으로 template의 html을 자동으로 연결</div>
	
	<h4>2. Security 회원가입</h4>
	<div>
		2-1. gadle 추가 -> 접속시 로그인 페이지 자동 생성<br>
		2-2. Security Config 생성 -> authorizeHttpRequests() 등등이 Deprecated 됨 <- <br>
		2-3. Entity 생성, Repository 설정<br>
		2-4. UserService 생성,  추가<br>
	</div>
	
	<h4>3. Security 로그인, 로그아웃</h4>
	<div>
		3-1. Security Config 에 로그인 설정 + 권한 관련<br>
		3-2. Repository에 findByusername() 생성<br>
		3-3. UserRole 생성<br>
		3-4. UserDetailsService 를 상속, loadByUsername 구현<br>
		3-5. Security Config 에 로그아웃 설정<br>
	</div>
	
	
	<h4>멀티커서</h4>
	<div>ALT + Shift + A</div>
	
	<h4>thymeleaf -> fragment 사용</h4>
	<div>th:replace="~{ html명 :: fragment명}"</div>
	
	
</body>
</html>