<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/MainPage.css" >
<title>Insert title here</title>
</head>
<body>

	<h2>Main Page</h2>
	<h4>1. controller에서 html을 불러오지 못하는 경우</h4>
	<div>thymeleaf를 library에 적용하는것만으로 template의 html을 자동으로 연결</div>
	
	<h4>2. Security 적용</h4>
	<div>
		2-1. gadle 추가 -> 접속시 로그인 페이지 자동 생성<br>
		2-2. Security Config 생성 -> authorizeHttpRequests() 등등이 Deprecated 됨<br>
		2-3. Entity 생성, Repository 설정<br>
		2-4. UserService 생성,  추가<br>
		
	</div>
	
	<h4>멀티커서 : ALT + Shift + A</h4>
	
	<a href="/user/signup">회원가입 페이지</a><br>
	<a href="/user/login">로그인 페이지</a><br>
	
	<input type="datetime-local"><br>
	
	
</body>
</html>